* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, .container {
  height: 100%;
  font-family: sans-serif; }

header {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
  z-index: 7;
  -webkit-transition: 1s;
  transition: 1s; }

header h1 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2); }

header:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 1s;
  transition: 1s; }

header:hover h1 {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 1s;
  transition: 1s; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100vh;
  background-color: #eee; }

.container .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 8em 0;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.one {
  background-color: red;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.two {
  background-color: indigo;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.three {
  background-color: green;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.four {
  background-color: yellow;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.five {
  background-color: orange;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.six {
  background-color: skyblue;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item.seven {
  background-color: violet;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }

.container .item:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-flex: 30;
  -webkit-flex-grow: 30;
  -ms-flex-positive: 30;
  flex-grow: 30;
  cursor: pointer;
  padding-top: 4em; }

/* content areas */
.title-block {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 1px 3px rgbs(0, 0, 0, 0.3); }

.content-block {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  width: 50%;
  margin: 2em auto;
  padding: 1em; }

.item h1,
.title-block p,
.title-block h2,
.title-block h3 {
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); }

/* images */
.container .item img {
  opacity: 0;
  margin: 2em auto;
  width: 100%;
  height: auto;
  transition: .5s;
  max-width: 500px; }

.image-container {
  opacity: 0;
  padding: 2em 0;
  -webkit-transition: 2s;
  transition: 2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  background-color: #f1f1f1; }

/* image rotation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

.container .item:hover img {
  -webkit-animation-name: rotate;
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

/* button */
.button {
  margin-top: 4em;
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
  transition-delay: .5s; }

.button a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  width: 250px;
  margin: 2em auto;
  padding: 1em 2em;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 1s;
  transition: 1s; }

.button a:hover {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: .5s;
  transition: .5s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

/* hover states */
.container .item:hover .title-block {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s; }

.container .item:hover img {
  opacity: 1; }

.container .item:hover .content-block,
.container .item:hover .image-container {
  opacity: 1;
  -webkit-transition: 3s;
  transition: 3s;
  transition-delay: .5s; }

.container .item:hover .button {
  opacity: 1;
  -webkit-transition: 3s;
  transition: 3s;
  transition-delay: 3s; }

.container .item:hover h1 {
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s; }
